<html >
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="dataController.js"></script>
    <script src="html2canvas.min.js"></script>
    <script src="imageSaver.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="pubgApp" ng-controller="dataController">
<div class="controller">
    <div Class="formCol">
        <div class="formArea"><label>User Name:</label> <input type="text" ng-model="userName" placeholder="Player Name"></div>
        <div class="formArea"><label>Total Player:</label> <input type="text" maxlength="3" ng-model="totalPlayer" placeholder="Total Player"></div>
    </div>

    <div Class="formCol">
        <div class="formArea"><label>Killed:</label> <input type="text" maxlength="3" ng-model="killed" placeholder="Total Killed Player"></div>
        <div class="formArea"><label>Hit Points:</label> <input type="text" ng-model="hitPoints" placeholder="Hit Points"></div>
    </div>
    
    <div Class="formCol">
        <div class="formArea"><label>Rank Points:</label> <input type="text" ng-model="rankPoints" placeholder="Rank Points"></div>
        <div class="formArea"><label>Game Ends In:</label> <input type="text" maxlength="2" ng-model="endsIn" placeholder="Game Ends In"></div>
    </div>

    <div Class="formCol">
        <div class="formArea"><label>Game Mode:</label> 
            <select ng-model="selectedGameMode" ng-change="gameModeChanged()" ng-options="x for x in gameModes"></select>
            </div>
        <div class="formArea"><label>Language:</label> 
            <select ng-model="selectedLanguage" ng-change="languageChanged()" ng-options="x for x in languages"></select>
        </div>
    </div>
        
    <div Class="formCol">
        <button onclick="saveImage()">Save Image</button>
    </div>
    <div class="clear"></div> 
</div>
<div class="mainContainer" id="mainContainer">

    <div class="killContainer">
        <span class="killValue">{{killed}}</span><span class="killed">{{TEXT_KILLED}}</span>
    </div>

    <div class="scoreContainer">
        <div class="score">#1</div>
        <div class="totalPlayer scoreDivider">/</div>
        <div class="totalPlayer">{{totalPlayer}}</div>
    </div>


    <div class="leftButtonContainer">
        <div class="button buttonLeft">{{TEXT_REPORT}}</div>
        <div class="button buttonLeft">{{TEXT_KILLCAM}}</div>
    </div>

    <div class="rightButtonContainer">
            <div class="button buttonRight">{{TEXT_EXIT_TO_LOBBY}}</div>
    </div>

    <div class="ends">
            {{TEXT_MATCH_ENDS_IN}}<br><span id="timeLeft">{{endsIn}}</span>
    </div>
    <img class="realSS" src="test/pubg.jpg">
    <img class="realSS" src="shadow.png">
    <div class="content">
        <div class="robotoRegular">{{userName}}</div>
        <div class="title">{{TEXT_WINNER_WINNER_CHICKEN_DINNER}}</div>
        
        <div class="underline">
            <div class="rowCenter">
            <span class="statisticName">{{TEXT_TEAM_RANK}}</span>
            </div>
            <div class="row" style="margin-top: 5px">
            <span class="rankValue">&nbsp;&nbsp;#1</span>
            </div>
        </div>
        
        <div class="underline">
            <div class="rowCenter">
            <span class="statisticName">{{TEXT_KILL}}</span>
            </div>
            <div class="row" style="margin-top: 5px">
            <span class="rankValue">&nbsp;&nbsp;{{killed}}</span>
            </div>
            <div class="row player">
            <span class="smallRankValue">&nbsp;{{TEXT_PLAYERS}}</span>
            </div>
        </div>
        
        <div class="row">
            <div class="underline">
                <div class="rowCenter">
                <span class="statisticName">{{TEXT_REWARDS}}</span>
                <img class="coin" src="coin.png" />
                </div>
                <div class="row" style="margin-top: 5px">
                <span class="rankValue">&nbsp;&nbsp;{{rankPoints*1 + hitPoints*1 + killed*15}}</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <span class="smallStatisticName">{{TEXT_TEAM_RANK_POINTS}}</span>
            </div>
            <div class="rightRow">
                <span class="smallestRankValue">&nbsp;{{rankPoints}}</span>
            </div>
            <div class="clear"></div>
            <div class="row">
                <span class="smallStatisticName">{{TEXT_KILL_POINTS}}</span>
            </div>
            <div class="rightRow">
                <span class="smallestRankValue">&nbsp;{{killed*15}}</span>
            </div>
            <div class="clear"></div>
            <div class="row">
                <span class="smallStatisticName">{{TEXT_HIT_POINTS}}</span>
            </div>
            <div class="rightRow">
                <span class="smallestRankValue">&nbsp;{{hitPoints}}</span>
            </div>
        </div>
    
        <div class="clear"></div>
        
    </div>
</div>
</body>
</html>